*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: rgb(225, 173, 104);
   text-align: center;
 
   
}
.container{
    height:70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
}

.game{

    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
     

}

.box{
   height: 18vmin;
   width: 18vmin;
   border-radius: 1rem;
   border: none;
   box-shadow: 0 0 1rem rgba(0 0 0 1);
   background-color: white;
   font-size: 80px;
   color: orangered;




}

#reset-btn{
    font-size: 30px;
    padding: 10px;
    background-color: rgb(31, 3, 3);
    color: #fff;
    border-radius: 15px;
    
}
#new-btn {
    font-size: 1.25rem;
    padding: 10px;
    background-color: rgb(31, 3, 3);
    color: #ba0d0d; 
     border-radius: 1rem;
    
 } 

#msg {
    color: #ffffc7;
    font-size: 8vmin;
}

.msg-container {
   height: 30vmin; 

}

.hide{
    display:none;
}

.disabled {
    pointer-events: none; /* Prevents clicking */
    opacity:0.6; /* Visual indication that it's disabled */
background-color: rgb(6, 66, 151);  
}
  